/*  hide scroll bar but while still being able to scroll  */
body, html {
    -ms-overflow-style: none; /* Internet Explorer, Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}
body::-webkit-scrollbar { display: none; } /*Chrome, Opera, Safari*/

#pagescroll {
    margin-top: 70px;
    height: calc(100vh - 70px);
}
.section { height: 100%; }
.main {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main > div { width: 50%; margin: 20px;}
.main h1 { font-size: 8em; }
.main p {
    font-size: 75px;
    display: inline;
}

.pf {
    height: 50%;
    display: flex;
    padding: 20px 100px;
}
.pf > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* thumbnail */
.img {
    width: 45%;
    background-color: #7f6781;
}
.img p { /* 썸네일 완성 시 지워질 예정 */
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
/* description */
.dsc {
    width: 55%;
}
.dsc p { font-size: 20px; }
button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
    color: #7a4e82;
    background: white;
    border: 1px solid;
    border-radius: 20px;
    margin: 0 8px;
    padding: 5px 13px;
    font-family: 'Noto Sans KR', sans-serif;
}
button:hover {
    color: white;
    background: #7f6781;
}

.about {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about > div { margin: 0 20px; }
.profile {
    background: linear-gradient(45deg,#ffcae5 50%,#a973c2,rgb(158, 152, 238));
    box-shadow: 0 4px 6px;
}
.profile img {
    height: 450px;
    margin: 20px;
    background-color: white;
}
.profile p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.me > * { margin: 50px 0; }
.me h3 { font-family: 'Noto Sans KR', sans-serif; }

/* 모바일에 따른 css 변경 */
@media screen and ( max-width: 575px ) {
    /* 세로 */
    @media (orientation: portrait) {
        .main h1 { font-size: 50px; }
        .main p { font-size: 32px; }
        .pf {  padding: 10px 20px; }
        .profile img {
                height: 200px;
                margin: 10px;
            }
        .profile p { font-size: 28px; }
        }
    /* 가로 */
    @media(orientation: landscape) {
        .main h1 { font-size: 50px; }
        .main p { font-size: 32px; }
        .pf {  padding: 10px 20px; }
        .profile img {
            height: 150px;
            margin: 10px;
        }
        .profile p {
            font-size: 28px;
        }
    }
}
/* tablet */
@media screen and ( max-width: 768px ) {
    @media (orientation: portrait) {
        .main h1 { font-size: 30px; }
        .main p { font-size: 32px; }
        .pf {  padding: 10px 20px; }
        }
    
    @media(orientation: landscape) {
        .profile img {
            height: 150px;
            margin: 10px;
        }
        .profile p {
            font-size: 28px;
        }
    }
}
