@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Noto+Sans+KR:wght@300&display=swap');
body,html {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
#header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}
#header img {
    margin: 10px;
    width: 50px;
}
#header .right {
    float: right;
    margin: 10px 5px;
}
#header .right img {
    margin: 0 5px;
    width: 30px;
}
button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
    color: #7a4e82;
    background: white;
    border: 1px solid;
    border-radius: 20px;
    margin: 0 8px;
    padding: 5px 13px;
    font-family: 'Noto Sans KR', sans-serif;
}
button:hover {
    color: white;
    background: #7f6781;
}
.footer {
    background-color: rgb(182, 175, 184);
    height: 50px;
    padding-top: 15px;
}