/* custom scroll */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: white; }
::-webkit-scrollbar-thumb {
    background: #c3aad4;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b98ebe;
    border-radius: 10px;
}

.thumbnail {
    position: fixed;
    z-index: -999;
    width: 100vw;
    background-color: rgb(197, 185, 197);
    opacity: 0.9;
}
.thumbnail img { width: 100vw; }
.post {
    width: 100%;
    position:absolute;
    top: 700px;
}
.post h1 {
    font-size: 6em;
    padding-left: 20px;
}

.detail {
    background-color: white;
    padding: 0 20px;
    height: 1000px;/* 임시 */
}

.notice {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    padding: 10px;
    width: 100vw;
}
.notice img {
    width: 20px;
}
.notice button {
    float: right;
}